<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Krys's Korner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="~/Images/K-logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!-- Icomoon Icon Fonts-->
    <link href="~/Content/icomoon.css" rel="stylesheet" />
    <!-- Bootstrap  -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Magnific Popup -->
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <!-- Flexslider  -->
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <!-- Owl Carousel -->
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />

    <!-- Theme style  -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Modernizr JS -->
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/respond.min.js"></script>
     <![endif]-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Scripts", false)

</head>

<body>
    <div class="colorlib-loader"></div>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu" style="background-color: #b3b3b3;">
                <div class="container" style="width:inherit">
                    <div class="row">
                        <div class="col-xs-3">
                            <div id="colorlib-logo"><a href="~/Home">Krys's Korner</a></div>
                        </div>
                        <div class="col-xs-9 text-right menu-1">
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline" href="~/BlogEntries/Create">New Post</a>
                            }
                            else if (!User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-outline"   href="~/Account/Register">Register</a>
                            }
                            <ul>
                                <li class="active"><a href="~/Home">Home</a></li>
                                <li class="has-dropdown">
                                    <a href="~/BlogEntries/Index?PostType=topics">Topics</a>
                                    <ul class="dropdown">
                                        <li><a href="~/BlogEntries/Index?PostType=MVC">MVC</a></li>
                                        <li><a href="~/BlogEntries/Index?PostType=Photography">Photography</a></li>
                                        <li><a href="~/BlogEntries/Index?PostType=TED Talks">TED Talks</a></li>
                                        <li><a href="~/BlogEntries/Index?PostType=Brain Teasers">Brain Teasers</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">About Me</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        @RenderBody()

        <footer id="colorlib-footer" role="contentinfo">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-3">
                        <h2>Navigational</h2>
                        <p>
                            <ul class="colorlib-footer-links">
                                <li><a href="#"><i class="icon-check"></i> Home</a></li>
                                <li><a href="#"><i class="icon-check"></i> About Me</a></li>
                                <li><a href="#"><i class="icon-check"></i> Blog</a></li>
                                <li><a href="#"><i class="icon-check"></i> Travel</a></li>
                                <li><a href="#"><i class="icon-check"></i> Lifestyle</a></li>
                                <li><a href="#"><i class="icon-check"></i> Fashion</a></li>
                                <li><a href="#"><i class="icon-check"></i> Health</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h2>Recent Post</h2>
                        <div class="f-blog">
                            <a href="blog.html" class="blog-img" style="background-image: url(/Images/blog-1.jpg);">
                            </a>
                            <div class="desc">
                                <h3><a href="blog.html">Be a designer</a></h3>
                                <p class="admin"><span>25 March 2018</span></p>
                            </div>
                        </div>
                        <div class="f-blog">
                            <a href="blog.html" class="blog-img" style="background-image: url(/Images/blog-2.jpg);">
                            </a>
                            <div class="desc">
                                <h3><a href="blog.html">How to build website</a></h3>
                                <p class="admin"><span>24 March 2018</span></p>
                            </div>
                        </div>
                        <div class="f-blog">
                            <a href="blog.html" class="blog-img" style="background-image: url(/Images/blog-3.jpg);">
                            </a>
                            <div class="desc">
                                <h3><a href="blog.html">Create website</a></h3>
                                <p class="admin"><span>23 March 2018</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h2>Archive</h2>
                        <p>
                            <ul class="colorlib-footer-links">
                                <li><a href="~/BlogEntries/Index?PostType=dateMarch20"><i class="icon-check"></i>March 2020</a></li>
                                <li><a href="~/BlogEntries/Index?PostType=dateFeb20"><i class="icon-check"></i>February 2020</a></li>
                                <li><a href="~/BlogEntries/Index?PostType=dateJan20"><i class="icon-check"></i>January 2020</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h2>Tags</h2>
                        <p class="tags">
                            <span><a href="#"><i class="icon-tag"></i>html</a></span>
                            <span><a href="#"><i class="icon-tag"></i>css</a></span>
                            <span><a href="#"><i class="icon-tag"></i>javascript</a></span>
                            <span><a href="#"><i class="icon-tag"></i>bootstrap</a></span>
                            <span><a href="#"><i class="icon-tag"></i>camera</a></span>
                            <span><a href="#"><i class="icon-tag"></i>photo-basics</a></span>
                            <span><a href="#"><i class="icon-tag"></i>photo-style</a></span>
                            <span><a href="#"><i class="icon-tag"></i>social</a></span>
                            <span><a href="#"><i class="icon-tag"></i>security</a></span>
                            <span><a href="#"><i class="icon-tag"></i>privacy</a></span>
                            <span><a href="#"><i class="icon-tag"></i>ai</a></span>
                            <span><a href="#"><i class="icon-tag"></i>word-problem</a></span>
                            <span><a href="#"><i class="icon-tag"></i>math-problem</a></span>
                            <span><a href="#"><i class="icon-tag"></i>probability</a></span>

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <small class="block">
                                Copyright &copy;
                                <script type="1892e63be745eb07e02644ba-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            </small>
                            <small class="block">Demo Images: <a href="//unsplash.co/" target="_blank">Unsplash</a></small>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    <script src="~/Scripts/jquery.min.js" type="1892e63be745eb07e02644ba-text/javascript"></script>

    <script src="~/Scripts/jquery.easing.1.3.js" type="1892e63be745eb07e02644ba-text/javascript"></script>

    <script src="~/Scripts/bootstrap.min.js" type="1892e63be745eb07e02644ba-text/javascript"></script>

    <script src="~/Scripts/jquery.waypoints.min.js" type="1892e63be745eb07e02644ba-text/javascript"></script>

    <script src="~/Scripts/jquery.flexslider-min.js" type="1892e63be745eb07e02644ba-text/javascript"></script>

    <script src="~/Scripts/owl.carousel.min.js" type="1892e63be745eb07e02644ba-text/javascript"></script>

    <script src="~/Scripts/jquery.magnific-popup.min.js" type="1892e63be745eb07e02644ba-text/javascript"></script>
    <script src="~/Scripts/magnific-popup-options.js" type="1892e63be745eb07e02644ba-text/javascript"></script>

    <script src="~/Scripts/main.js" type="1892e63be745eb07e02644ba-text/javascript"></script>

    <script async src="//www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="1892e63be745eb07e02644ba-text/javascript"></script>
    <script type="1892e63be745eb07e02644ba-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="//ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="1892e63be745eb07e02644ba-|49" defer=""></script>
</body>
</html>


